@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", sans-serif;
}

body {
    background-color: #F2F2F2;
}

img {
    width: 100%;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

p {
    color: var(--paragraph);
    font-size: .92rem;
    line-height: 1.8;
}

/* Variables */
:root {
    /* Colors */
    --white: #FFFFFF;
    --black: #000000;
    --interactive-color: #3CB4AB;
    --secondary-color: #CBCBCB;
    --bookmark-color: #2F2F2F;
    --hover-interactive-color: #157A74;
    --hover-secondary-color: #717171;
    --paragraph: hsl(0, 0%, 48%);

    /* Font's size */
    --font-xs: .6rem;
    --font-s: .7rem;
    --font-m: .95rem;
    --font-l: 1.2rem;
    --font-xl: 1.4rem;
    --font-xxl: 1.8rem;

    /* Custom */
    --progress: 70%;
}

/* Utility Classes */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    color: var(--white);
    font-size: var(--font-m);
    padding-inline: 2.5rem;
    height: 3.125rem;
    background-color: var(--interactive-color);
    border-radius: 9999px;
    font-weight: 600;
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: var(--hover-interactive-color);
}

.opacity {
    position: relative;
    opacity: .5;
}

.opacity::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.grey-btn {
    background-color: var(--paragraph);
}

/* HTML Elemetns CSS */

/* Header */
.header {
    width: 100%;
    height: 400px;
    background-image: url("../../images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 10rem;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.navbar {
    color: var(--white);
    position: relative;
    z-index: 10;
    max-width: 1120px;
    margin: auto;
}

.nav-links {
    flex-basis: 16rem;
}

/* Main */
.main {
    max-width: 44rem;
    margin: auto;
    position: relative;
    top: -6rem;
}

.main > div {
    margin-bottom: 1.6rem;
    background-color: var(--white);
    border-radius: .6rem;
}

.mastercraft-info {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2.2rem;
    padding: 3.5rem 3rem 3rem;
    text-align: center;
}

.mastercraft-logo {
    position: absolute;
    top: -2rem;
}

.title {
    font-size: 1.7rem;
    margin-bottom: .8rem;
}

.mastercraft-definition {
    line-height: normal;
}

.mastercraft-cta {
    width: 100%;
}

.bookmark-btn {
    background-color: #F4F4F4;
    border-radius: 9999px;
}

.bookmark-btn:hover #bookmark-svg-path {
    fill: var(--hover-secondary-color);
}

#bookmark-svg-path {
    transition: fill .2s ease-in-out;
}

.bookmark-span {
    display: grid;
    place-items: center;
    padding: 0;
    background-color: #F4F4F4;
    color: #717171;
    width: 7rem;
}

.bookmark-span:hover {
    background-color: #F4F4F4;
}

.pledge-info {
    padding: 2.5rem;
}

.pledge-statistics {
    justify-content: flex-start;
    margin-bottom: 2.5rem;
}

.pledge-statistic{
    border-right: 1px solid #DBDBDB;
    padding-inline: 3.5rem;
}

.pledge-statistic:first-child {
    padding-left: 0;
}

.pledge-statistic:nth-child(3) {
    border-right: none;
    padding-right: 0;
}

.pledge-statistic > h2 {
    font-size: var(--font-xxl);
    font-weight: 700;
    margin-bottom: .2rem;
}


.pledge-statistic > p {
    line-height: normal;
    font-size: .85rem;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: .8rem;
    background-color: #F4F4F4;
    border-radius: 9999px;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--interactive-color);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar {
    to {
        width: var(--progress);
    }
}

.about-project {
    padding: 2.5rem;
}

.about-project-h3 {
    font-size: var(--font-l);
    margin-bottom: 2.5rem;
}

.about-definition {
    margin-bottom: 2.5rem;
}

.pledge-option {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border: 1px solid #DBDBDB;
    border-radius: .6rem;
}

.pledge-option:last-child {
    margin-bottom: 0;
}

.product-title {
    font-size: var(--font-l);
}

.min-pledge {
    color: var(--interactive-color);
    font-size: var(--font-m);
    font-weight: 500;
}

.amount-left {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    font-size: var(--font-xxl);
}

.amount-left > span {
    color: var(--paragraph);
    font-weight: 400;
    font-size: var(--font-m);
}

.select-reward {
    height: 2.9rem;
    font-size: .85rem;
}

/* Modal */
.modal {
    margin: auto;
    border: none;
    padding: 3rem;
    border-radius: .6rem;
    max-width: 44rem;
    position: relative;
    scrollbar-width: none;
}

.modal::-webkit-scrollbar {
    -ms-overflow-style: none;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.close-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.modal-title {
    margin-bottom: 1rem;
}

.modal-paragraph {
    margin-bottom: 2rem;
}

.modal-form-option {
    padding: 1.5rem 0;
}

.form-option {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1rem;
    padding-inline: 1.5rem;
}

.pledge-radio {
    display: none;
}

.radio-span {
    display: block;
    width: 1.4rem;
    aspect-ratio: 1/1;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.pledge-radio:checked + .radio-span::before {
    content: '';
    width: .7rem;
    aspect-ratio: 1/1;
    background-color: var(--interactive-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-option-content > div {
    margin-bottom: 1rem;
    position: relative;
    top: -.2rem;
}

.pledge-option-title {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.amount-left-modal {
    font-size: var(--font-l);
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.divider-line {
    border: none;
    height: 1px;
    background: #DBDBDB;
}

.submit-form-div {
    padding-inline: 1.5rem;
}

.submit-form-div > label {
    color: var(--paragraph);
}

.submit-form {
    column-gap: 1rem;
}

.money-amount-div {
    border: 1px solid #DBDBDB;
    color: #DBDBDB;
    font-weight: 600;
    font-size: .9rem;
    border-radius: 9999px;
    overflow: hidden;
    height: 2.8rem;
    padding-inline: 1.1rem;
    column-gap: .5rem;
}

.money-amount-div > input {
    width: 2.5rem;
    border: none;
    font-size: .9rem;
    font-weight: 600;
    -moz-appearance: textfield;
}

.money-amount-div > input::-webkit-inner-spin-button {
    display: none;
}

.money-amount-div > input:focus {
    outline: none;
}

.submit-btn {
    height: 2.8rem;
    padding-inline: 1.3rem;
    font-size: .85rem;
}
